h1 {
    font-family: sans-serif;
    font-size: 48px;
    color: blue;
    /* color: #fff000; */
    /* color: rgb(195, 46, 202); */
}

.subheader1 h2 {
    font-family: monospace;
    font-size: 36px;
    color: brown;
}

h2 {
    font-family: sans-serif;
    font-size: 56px;
    color: green;
}

.subheader1 {
    background-color: cornflowerblue;
    border: 5px solid red;
    color: yellow;
}

.p2 {
    color: orange;
}

.subheader2 ul {
    list-style: none;
}

.subheader2 li {
    display: inline;
}

.subheader2 a {
    text-decoration: none;
    color: magenta;
}

.subheader2 a:hover {
    font-size: 28px;
    color: purple;
}

.subheader2 h2 {
    text-decoration: underline;
}

.subheader2 h2:hover {
    text-decoration: none;
}

.green  {
    color: green;
    text-transform: uppercase;
}

.name h2 {
    text-transform: capitalize;
}

.red {
    color: red;
}

.subheader3 h2{
    text-decoration: wavy underline gold; 
}

.subheader4 {
    background: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border: 3px dashed dodgerblue;
}

.subheader4 h2 {
    color: white;
}


