* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background: linear-gradient(#1f1d30, #302f44);
}

a {
    text-decoration: none;
}

.sr-only {
    display: hidden;
}

.header-logo {
    padding: 5px;
    margin-right: 2px;
    width: 70px;
    height: 40px;
    border-radius: 5%;
    background: #6f6d8a;
    text-transform: uppercase;
    color: #f3f3f2;
}

sup {
    font-size: 12px;
}

.navbar {
    margin-top: 20px;
    margin-right: 0;
}

.navbar ul {
    float: right;
    list-style: none;
}

.navbar li {
    display: inline;
    text-transform: uppercase;
    font-size: 10px;
}

.navbar a {
    padding-right: 10px;
    text-decoration: none;
    color: #f3f3f2;
}

.navbar a:hover {
    color: #f4a471;
}

.mainbanner {
    background: #302f44;
    height: 400px;
}

.mainwrapper {
    border-top: 1px solid #555;
    text-align: center;
}

.mainwrapper h2 {
    font-size: 2em;
    font-weight: lighter;
    color: #6d6a89;
    text-transform: uppercase;
}
.large-h2 {
    display: block;
    font-size: 2.15em;
    color: #f3f3f2;
    text-shadow: 1px 1px 2px gray;
    font-weight: 900;
}

.mid-h2 {
    /* display: block; */
    font-size: 1.75em;
    font-weight: 200;
    background: -webkit-linear-gradient(#b2afc2, #828193);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainwrapper p {
    color: #6d6a89;
    width: 500px;
    margin: 0 auto 20px auto;

}

.try-now {
    padding: 10px 20px;
    border-radius: 5px;
    background: #6d6a89;
    color: #f3f3f2;
    text-transform: uppercase;
}

.try-now:hover {
    padding: 12px 20px;
    color: #f4a471;
}

.mainservices {
    background: linear-gradient(#f9a26c, #dc8456);
}

.services {
    text-align: center;
}

.services img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.services h2 {
    color: white;
    text-transform: uppercase;
}

.services p {
    font-size: 12px;
    color: #302f44;
}

.line-break {
    display: block;
}
.services h2 {
    text-align: center;
}

.pricing {
    background: #e7e7e7;
    height: 360px;
}


.prices h2 {
    margin-bottom: 0;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    background: #6f6c89;
    color: #e7e5f0;
    text-transform: uppercase;
    text-align: center;
}

.prices p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    border-top:1px solid #e7e7e7;
    background: #6f6c89;
    font-size: 18px;
    color: #f4a471;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px darkgray;
    z-index: 2;
}

.triangle {
    /* margin: -30px auto -4px auto;
    width: 30px;
    height: 30px;
    background: #6f6c89;
    transform: rotate(45deg);
    z-index: 1; */
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto;
    border-top: 20px solid #6f6c89;
}

.prices .price{
    font-size: 2em; 
    font-weight: bold;
    color: #c7c4e1;
}

.prices ul {
    margin-top: 0px;
    padding-left: 0;
    list-style: none;
}

.prices li {
    padding: 10px 20px;
    border: 1px solid #555;
    font-size: 10px;
    color: #555;
    text-align: center;
    text-transform: uppercase;
    
}

.prices li:last-child {
    padding: 20px 40px;
    border-radius: 0 0 5px 5px;
}

.signup {
    padding: 10px 45px;
    background: #f4a471;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.signup:hover {
    padding: 12px 45px;

}

.white {
    background: #fefefe;
}

.gray {
    background: #f7f7f7;

}

.footerinfo {
    background: linear-gradient(#1f1d30, #302f44);
    height: 275px;
}

.foot-info h2 {
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
}

.foot-info ul {
    padding-left: 15px;
}

.foot-info li {
    color: white;
    font-size: 10px;
    line-height: 2;
}

.foot-info p {
    font-size: 10px;
    color: #6d6a89;
    margin-bottom: 25px;
}

.foot-info a {
    background: #f4a471;
    border-radius: 5%;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.foot-info a:hover {
    padding: 10px 12px;
}

.sponsors {
    height: 125px;
    background: #322f40;
}

.copyright {
    background: #1b1a22;
    color: #3a3846;
    text-transform: uppercase;      
}

.footerlogo img {
    margin-top: 15px;
}

.socialmedia {
    padding-top: 20px;
}

.socialmedia a {
    height: 5px;
    width: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.socialmedia a:hover {
    color: #f4a471;
}