* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #302f44;
}

.header-logo {
    padding: 5px;
    margin-right: 2px;
    width: 40px;
    height: 40px;
    /* border-radius: 5%; */
    background: #6f6d8a;
    text-transform: uppercase;
    color: #f3f3f2;
}

sup {
    font-size: 12px;
}

.navbar {
    float: right;
    margin-top: 40px;
}

.mainbanner {
    background: #302f44;
}

.mainwrapper h2 {
    text-align: center;
}
.large-h2 {
    display: block;
}

.mainwrapper p {
    text-align: center;
}

/* .try-now {
   
} */

.mainservices {
    background: #e2996c;
}

.footerinfo {
    background: #302f44;
}