* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.main {
	margin:30px auto 0;
	width: 600px;
	/* height: 600px; */
	background: #000;
}

.block {
	width: 200px;
	height: 200px;
	background: red;
	color: #fff;
	font-family: sans-serif;
	font-size: 36px;
	text-align: center;
	line-height: 200px;
    float: left;
    /* float: right; */
    /* float: inline-start; */
    /* float: inline-end; */
}

.block--one {
    /* float: right; */
	background: purple;
}
.block--two { 
    height: 200px;
	background: green;
}
.block--three {
	background: orange;
}
.block--four {
	background: blue;
}
.block--five {
    /* float: right; */
	background: red;
}
.block--six {
    background-color: yellow;
    color: black;
	display: none;
}

.block--temp {
	width: 100px;
	height: 220px;
	background: brown;
	display: none;
}

.clear {
	display: table;
	clear: both;
	height: 0;
	width: 0;
	content: '';
}